.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr 0.5fr 0.5fr 1fr 1fr; /* Adjusted column widths instead of repeat(6,1fr) */;
  gap: 0.25em;
  width: 100%;
}

.header-row {
  display: contents;
  font-weight: bold;
  height: 5vh;
}
.header-row .column {
  background-color: #f0f0f0;
}

.item-row {
  display: contents;
}

.column {
  padding: 0.5em;
}

.item-row .column:first-child {
  text-align: justify;
}
